.App {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  margin: 5%;
  height: 100vh;
}

.app--prop-form {
  display: flex;
  flex-flow: column nowrap;
  margin: 1rem;
}

.col-left {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}
.col-right {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.col-right > * {
  flex: 1;
}

.card--container {
  border: 1px solid blue;
}
